@font-face {
  font-family: "Comic Zine";
  src: url("../fonts/comic_zine_ot-webfont.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: "Cabin", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: #f4f5f7;
}

/* General  */
section {
  margin-top: 50px;
}

section > h2 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  padding: 25px 20px;
  font-weight: 800;
  letter-spacing: 1px;
}

/* Cover - Home */
.header-container {
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/graham-wilson-M32z_iqV-1U-unsplash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.header-container .cover-title {
  position: relative;
  top: 15%;
  max-width: 710px;
  padding: 10px;
  word-spacing: 1px;
  color: #ebecf1;
  font-size: 1.3em;
}

.cover-title h1 {
  font-family: "Raleway", Cabin, Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.cover-title span {
  font-family: "Comic Zine", Cabin, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: #7aa0b7;
}

.cover-title p:first-of-type {
  margin-bottom: 15px;
}

/* Navigation bar  */
nav {
  display: block;
  width: 100%;
  background-color: #1a1c1e;
}

.nav-container {
  position: relative;
  list-style: none;
  padding: 5px 0;
}

.logo-container {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.logo {
  width: 100%;
  height: auto;
}

#links {
  display: none;
}

.nav-container a {
  color: #ebecf1;
}

.nav-container a:active {
  color: #60829b;
}

.link-container a {
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-container a.icon {
  font-size: 30px;
  padding: 10px 20px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-container-desktop {
  display: none;
}

/* Technologies  */
.technologies {
  margin-top: 60px;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologies-container .box {
  width: 90px;
  height: 90px;
  margin: 2px;
  padding: 5px;
  position: relative;
}

.box > img {
  width: 100%;
  height: 100%;
}

.new::after {
  content: "NEW";
  font-weight: 600;
  position: absolute;
  top: 0;
  right: 0;
}

/* Projects  */
.projects-grid {
  padding: 5px 20px;
  display: grid;
  grid-auto-rows: minmax(100px, 300px);
  gap: 10px;
}

.projects-grid .project-card {
  border-radius: 4px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
  overflow: hidden;
  border: 1px solid #ccc;
  transition: border 0.3s ease-out;
}

.project-card .card-image {
  height: 80%;
}

.project-card img {
  min-width: 120%;
  height: 100%;
}

.project-card .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  height: 20%;
}

.content > h3 {
  padding: 10px;
  margin-left: 7px;
}

.content .site-link {
  margin-right: 20px;
  letter-spacing: 1px;
  transition: color 0.2s linear;
}

.content .site-link:link,
.content .site-link:visited {
  color: #c9cbcf;
  text-decoration: none;
}

.content .site-link:active {
  color: #60829b;
}

/* Contact  */
.contact {
  background-color: #1a1c1e;
  color: #eaedf1;
  height: 450px;
}

#Contact {
  padding: 40px;
  text-align: center;
  margin: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-container > form {
  width: 100%;
  max-width: 600px;
  padding: 10px 20px;
}

.form-container form .form-row {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  padding: 0 8px;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  position: relative;
}

.form-row .first {
  margin-bottom: 10px;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  font-family: Cabin, Arial, Helvetica, sans-serif;
  color: #eaedf1;
  background-color: inherit;
  border-bottom: 2px solid #eaedf1;
}

.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  color: #60829b;
  font-size: 12px;
}

.input-data label {
  width: 100%;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  transition: all 0.3s ease;
}

.textarea label {
  bottom: 20px;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #60829b;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before,
.textarea textarea:focus ~ .underline::before,
.textarea textarea:valid ~ .underline::before {
  transform: scale(1);
}

.submit-btn {
  align-items: flex-end;
}

#btn-input-data {
  height: 40px;
  width: 120px;
}

.submit-btn input[type="submit"] {
  cursor: pointer;
  font-weight: 600;
  border-radius: 2px;
  color: #eaedf1;
  border: 2px solid #eaedf1;
  transition: background-color 0.3s ease-out;
}

/* Footer  */
.footer-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #364d60;
  color: #fff;
  height: 75px; */
}

.footer-info {
  width: 350px;
  padding-left: 20px;
}

.footer-info small {
  font-size: 12px;
}

#copyright {
  display: inline-block;
}

.footer-info small a:link,
.footer-info small a:visited {
  color: #a98b4a;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 10px;
}

.social > li {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.social > li img {
  width: 100%;
  height: 100%;
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .header-container .cover-title {
    margin-left: 25px;
  }

  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop Styles */
@media only screen and (min-width: 801px) {
  section > h2 {
    font-size: 2em;
  }

  .header-container .cover-title {
    margin-left: 50px;
    font-size: 1.4em;
  }

  .cover-title h1 {
    font-size: 3em;
  }

  .cover-title p:first-of-type {
    margin-bottom: 20px;
  }

  .nav-container {
    display: none;
  }

  nav {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .nav-container-desktop {
    display: flex;
    list-style: none;
    padding: 5px 0;
  }

  .logo-container {
    margin-left: 50px;
  }

  .links-cont {
    display: flex;
    margin: 0 20px 0 auto;
    align-items: center;
  }

  .links-cont a:not(:last-of-type) {
    margin-right: 20px;
  }

  .links-cont a:link,
  .links-cont a:visited {
    text-decoration: none;
    border-radius: 2px;
    color: #ebecf1;
    padding: 10px 15px;
    transition: background-color 0.4s ease-in-out;
    font-size: 1.1em;
  }

  .links-cont a:hover {
    background-color: #60829b;
  }

  .links-cont a:active {
    color: #1a1c1e;
  }

  .technologies-container {
    width: 800px;
    margin: 0 auto;
  }

  .technologies-container .box {
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
  }

  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 5px 60px;
  }

  .project-card:hover {
    border: 1px solid #777;
  }

  .content > h3 {
    font-size: 1.2rem;
  }

  .content .site-link:hover {
    color: #60829b;
    text-decoration: underline;
  }

  .form-container form .form-row {
    flex-direction: row;
    justify-content: flex-end;
  }

  form .form-row .input-data {
    margin: 0 10px;
  }

  .submit-btn input[type="submit"]:hover {
    color: #ebecf1;
    background-color: #ffb347;
    border-color: #ffb347;
  }

  .footer-info small {
    font-size: 14px;
  }

  .social > li {
    width: 35px;
    height: 35px;
  }
}
