@font-face {
  font-family: "GothamPro Black";
  src: url("/resources/fonts/GothamPro-Black.woff2") format("woff2");
}

@font-face {
  font-family: "GothamPro Bold";
  src: url("/resources/fonts/GothamPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GothamPro Medium";
  src: url("/resources/fonts/GothamPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GothamPro";
  src: url("/resources/fonts/GothamPro.woff2") format("woff2");
}

// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap");
