@use "../abstracts/" as *;

$card-bg-light: #f7eeed;
$card-bg-dark: #131519;

.services {
  padding: 100px 0;

  .services__container {
    @include container;

    header {
      h2 {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 4rem;
        font-weight: 700;
        display: inline-block;
        position: relative;
        color: $primary-color;
        margin-bottom: 60px;

        &::after {
          content: "";
          width: 130px;
          height: 5px;
          position: absolute;
          left: 0;
          top: 120%;
          background-color: $primary-color;
        }
      }
    }

    .services__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      gap: 1rem;

      @include respond-to("sm") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to("md") {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
      @include respond-to("xl") {
        gap: 3rem;
      }

      @include root-has-class("light") {
        .service-card {
          background-color: $card-bg-light;
        }
      }
      @include root-has-class("dark") {
        .service-card {
          background-color: $card-bg-dark;
        }
      }

      .service-card {
        display: flex;
        padding-top: 60px;

        h3 {
          margin-top: 1rem;
          text-transform: capitalize;
        }
      }
    }
  }
}
