@use "../abstracts/" as *;

$stack-card-bg-light: #f7eeed;
$stack-card-bg-dark: #131519;

.stack {
  padding: 100px 0;

  .stack__container {
    @include container;

    .stack__items {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .stack-card {
        width: 130px;
        height: 110px;
        display: grid;
        place-items: center;
        @include transition(all 200ms linear);
        filter: grayscale(1);

        &:hover {
          transform: scale(1.2);
          filter: grayscale(0);
        }
      }

      // @include root-has-class("light") {
      //   .stack-card {
      //     background-color: $stack-card-bg-light;
      //   }
      // }
      // @include root-has-class("dark") {
      //   .stack-card {
      //     background-color: $stack-card-bg-dark;
      //   }
      // }

      li:first-child {
        position: relative;
        &::before {
          content: "My turn!";
          position: absolute;
          z-index: 2;
          top: 0;
          left: -15px;
          font-size: 1.25rem;
          font-weight: bold;
          color: inherit;
          @include transition(transform 200ms linear);
          animation: 4s linear 0ms infinite scale-vertical;
        }
      }
    }
  }
}
