@use "../abstracts/" as *;

$stack-card-bg-light: #f7eeed;
$stack-card-bg-dark: #131519;

.stack {
  padding: 100px 0;

  .stack__container {
    @include container;

    .stack__items {
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 16px;
      display: grid;
      grid-auto-rows: 260px;

      @include respond-to("sm") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to("md") {
        grid-template-columns: repeat(3, 1fr);
      }
      @include respond-to("lg") {
        grid-template-columns: repeat(4, 1fr);
      }

      @include root-has-class("light") {
        .stack-card {
          background-color: $stack-card-bg-light;

          .body {
            .hover-card__description {
              .line {
                background-color: $stack-card-bg-dark;
              }
            }
          }
        }
      }
      @include root-has-class("dark") {
        .stack-card {
          background-color: $stack-card-bg-dark;

          .body {
            .hover-card__description {
              .line {
                background-color: $stack-card-bg-light;
              }
              // p {
              //   color: $light;
              // }
            }
          }
        }
      }

      li:first-child {
        position: relative;

        &::before {
          content: "My turn!";
          position: absolute;
          z-index: 2;
          top: 0;
          left: -25px;
          font-size: 1.25rem;
          font-weight: bold;
          color: inherit;
          @include transition(transform 200ms linear);
          animation: 4s linear 0ms infinite scale-vertical;
        }
      }
    }
  }
}
