@use "../abstracts" as *;

html,
body {
  font-family: $sans-font;
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}
