// BREAKPOINTS
$breakpoints: (
  "sm": 700px,
  "md": 800px,
  "lg": 900px,
);

// THEME
$white: #fbf5f3;
$black: #1b1c22;
$dark: $black;
$light: $white;

$primary-color: #e34234;
$secondary-color: #e09f3e;

// TYPOGRAPHY
$sans-font: "Monrope";
$serif-font: "Roboto Slab";
$monospace-font: monospace;
