.banner-top {
  background-color: $banner-bg-color;
  color: $banner-color;

  .logo {
    font-family: "Lora", serif;
    padding: 0 0.5rem;
    background-color: $banner-color;
    color: $banner-bg-color;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .social-nav {
    display: inline-flex;
    align-items: center;

    .social-link {
      display: inline-flex;
      align-items: center;
      font-size: 1.25rem;
      color: inherit;
      text-decoration: none;
    }
    .social-link:not(:first-of-type) {
      margin-left: 0.5rem;
    }
  }
}
