.banner-top {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand {
    display: flex;
    align-items: center;

    .brand__image {
      width: 35px;
      height: auto;
      border-radius: 50%;
    }

    .brand__text {
      padding: 0 0 0 0.75rem;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  .socials {
    list-style: none;
    margin: 0;
    padding: 0;

    .socials__item {
      display: flex;
      font-size: 1.25rem;
      color: inherit;
      text-decoration: none;

      .socials__link {
        color: inherit;
      }

      &:not(:last-of-type) {
        margin-right: 0.75rem;
      }
    }
  }
}
