.cta {
  background-color: $cta-bg-color;
  color: $cta-color;
  margin-top: 2rem;
  box-shadow: 0 4px 10px $gray;

  .cta-text {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;

    .cta-link {
      transition: color 200ms ease-out;
      color: inherit;

      &:hover {
        color: $link-color;
      }
    }
  }
}
