.cta-row {
  padding-top: 20px;

  .cta {
    padding: 50px 0;
    background-color: $cta-bg-color;

    .cta__text {
      font-weight: $heading-font-weight;
      font-size: 2rem;
      text-align: center;
      margin: 0;

      .link {
        color: inherit;
      }
    }
  }
}
