// Variables
$navbar-nav-link-padding-x: 0;

.navigation {
  background-color: #212121;
  color: $light;

  .navbar-nav {
    .nav-link {
      color: $light;
      transition: all 100ms linear;
      font-size: 1.125rem;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .navbar-nav {
    .nav-link {
      font-size: 1rem;
    }
  }
}
