// Variables
$navbar-nav-link-padding-x: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #ccc;

.navigation {
  background-color: #000;

  .navbar-nav {
    .nav-link {
      transition: all 100ms linear;
      font-size: 1.125rem;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  @media screen and (min-width: $container-max) {
    .navbar-nav {
      .nav-link {
        font-size: 1rem;
      }
    }
  }
}
