.navigation {
  background-color: $nav-bg-color;

  .navbar-nav {
    .nav-link {
      transition: all 100ms linear;
      font-size: 1.125rem;
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .navbar-nav {
    .nav-link {
      font-size: 1rem;
    }
  }
}
