.tech-box {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 1.75rem;
  height: 230px;
  background-color: $tech-box-bg-color;
  border-radius: $tech-box-border-radius;
  border: 1px solid $tech-box-border-color;
  box-shadow: 0 4px 10px $gray;

  .box-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    .box-img {
      width: 75px;
      transition: all 0.2s ease-in-out;
      filter: grayscale(100%) brightness(75%);
    }

    .box-title {
      font-family: "Catamaran", sans-serif;
      font-size: 1.2em;
      font-weight: 700;
      color: $tech-box-color;
      text-transform: uppercase;
      margin-top: 0.5em;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }

    .box-description {
      transform: scale(0, 0);
      transition: all 0.2s ease-in-out;
      height: 4rem;

      .line {
        width: 0;
        height: 1px;
        background-color: $dark;
        margin: 0 auto 0.75rem;
        transition: all 0.2s ease-in-out;
      }

      .box-text {
        color: $tech-box-color-hover;
        text-align: center;
        font-size: 0.875em;
        margin-top: 0em;
      }
    }
  }

  &:hover {
    .box-body {
      padding-top: 0em;
      cursor: pointer;

      .box-img {
        width: 50px;
        filter: none;
      }

      .box-title {
        color: $tech-box-color-hover;
      }

      .box-description {
        transform: scale(1, 1);
        display: block;

        .line {
          width: 50px;
        }
      }
    }
  }
}
