footer {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  color: $base-white;
  background-color: $footer-bg-color;

  .info {
    display: inline-block;
    font-size: 1rem;

    .copyright {
      display: inline;
    }

    .author {
      display: inline;
    }

    a {
      text-decoration: underline;
    }
  }

  .social {
    float: right;
    font-size: 1rem;

    li {
      display: inline-block;

      .social-link {
        padding: 8px;
      }
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .social {
      font-size: 1.25rem;
    }
  }
}
