footer {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  background-color: $base-black;

  .info {
    display: inline-block;
    color: $base-white;
    pointer-events: none;

    .copyright {
      display: inline;
    }

    .author {
      display: inline;
    }
  }

  .social {
    float: right;

    li {
      display: inline-block;

      .social-link {
        color: $base-white;
      }
    }
  }
}
