header {
  width: 100%;
  min-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  margin-top: 45px;

  .logo {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    transition: all 1s ease;
    pointer-events: none;
  }

  nav {
    .desktop-nav {
      align-items: center;
      display: none;

      .nav-link {
        display: inline-block;
        position: relative;
        padding: 0 5px;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
        text-align: center;
        transition: all 1s ease-in;
      }

      .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 2px;
        z-index: 1;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      .nav-link:hover:after {
        background-color: $body-font-color;
        width: 98%;
      }

      .active::after {
        background-color: $body-font-color;
        width: 98%;
      }

      li:not(:last-of-type) {
        margin-right: 40px;
      }
    }

    @media screen and (min-width: $tablet-breakpoint) {
      .desktop-nav {
        display: flex;
      }
    }
  }
}

.burger-btn {
  display: block;
  border-top: 2px solid $base-black;
  height: 25px;
  width: 30px;
  position: absolute;
  z-index: 30;
  right: 20px;
  top: 45px;
  cursor: pointer;
  @include transition(all 0.3s ease-in);

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    right: 0;
    top: 10px;
    background: $base-black;
    @include transition(all 0.3s ease-in);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 30px;
    right: 0;
    bottom: 0;
    background: $base-black;
    @include transition(all 0.3s ease-in);
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .burger-btn {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  z-index: 10;
  list-style-type: none;
  margin: 100px 0 0 20px;
  padding: 0;
  overflow: hidden;

  li {
    width: 0;
    margin: 30px 0;
    font-size: 1.5rem;
    @include transition(all 0.3s ease-in);

    & + li {
      margin-left: -40px;
      & + li {
        margin-left: -80px;
        & + li {
          margin-left: -120px;
        }
      }
    }
  }
}

.navigation {
  .mobile-nav li {
    width: 200px;
    margin-left: 0;
  }

  div.burger-btn {
    border-color: transparent;

    &:before {
      @include rotate(45deg);
      width: 33px;
      left: -2px;
    }

    &:after {
      @include rotate(135deg);
      bottom: 11px;
      width: 33px;
      left: -2px;
    }
  }
}

.effect-1.navigation {
  .content-wrapper {
    @include opacity(0);
    @include scale(0.85);
    visibility: hidden;
  }
}

.effect-2.navigation {
  .content-wrapper {
    @include scale(0.85);
    margin-left: 260px;
  }
}

.effect-2.navigation {
  .content-wrapper {
    margin-left: 320px;
    @include opacity(0.4);
  }
}
