.container {
  max-width: 1150px;
  padding: 0 1rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
