// Theme
// $base-white: #fdfcfa;
$base-white: #fff5ee;
$base-black: #100c08;
$base-orange: #fd6154;
$base-blue: #3680af;

//Fonts
$heading-font-black: "GothamPro Black", "GothamPro Bold", Helvetica, sans-serif;
$heading-font: "GothamPro Bold", "GothamPro Medium", Helvetica, sans-serif;
$base-font: "IBM Plex Sans", Helvetica, sans-serif;
