// Theme
$base-white: #fdfcfa;
$base-black: #100c08;

//Fonts
$heading-font-black: "GothamPro Black", "GothamPro Bold", Helvetica, sans-serif;
$heading-font: "GothamPro Bold", "GothamPro Medium", Helvetica, sans-serif;
$base-font: "IBM Plex Sans", Helvetica, sans-serif;
