// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

// Base customizations
$body-color: #f5f5f5;
$body-bg: #222533;

//Container
$container-max: 960px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: $container-max,
  xl: $container-max,
  xxl: $container-max,
);

// Typography
$font-family-base: "Manrope", sans-serif;
$headings-font-weight: 700;
$headings-font-family: "Inter";

//Theme
$light: #fff;
$dark: #142229;
$gray: #f5f5f8;
$silver: #c0c0c0;
$orange: #ec6a32;

//Banner top
$banner-color: $light;

// Project card
$card-bg-color: #292d3d;
$card-border-radius: 0.5rem;

//Tech box
$tech-box-color: $silver;
$tech-box-color-hover: $light;
$tech-box-bg-color: #292d3d;
$tech-box-border-radius: 0.5rem;

//CTA
$cta-color: inherit;
$cta-bg-color: #3e445b;
