// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #f8f1f1;
$success: #32cd32;

//Containers
$container-max: 960px;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: $container-max,
  xl: $container-max,
  xxl: $container-max,
);

// Typography
$headings-font-family: "Lora", serif;
$headings-font-weight: 700;
$font-family-base: "Catamaran", sans-serif;

//Colors:
$light: #fff;
$dark: #000;
$link-color: red;

// Project card
$card-spacer-y: 0.75rem;
$card-spacer-x: 0.75rem;
$card-border-radius: 0.5rem;
$card-border-color: #ccc;
$card-color: #000;
$card-bg: #fff;

//Tech box
$tech-box-color: #333;
$tech-box-color-hover: #000;
$tech-box-bg-color: #eee;
$tech-box-border-color: #ddd;
$tech-box-border-radius: 0.5rem;

//CTA
$cta-color: #333;
$cta-bg-color: #eee;

// Input
$input-bg: #fff;
$input-border-radius: 0;

// Label
$form-label-margin-bottom: 0.5rem;
$form-label-font-size: null;
$form-label-font-style: null;
$form-label-font-weight: null;
$form-label-color: null;

//Banner top
$banner-bg-color: red;
$banner-color: #fff;

//Navigation
$navbar-nav-link-padding-x: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: #ccc;
$nav-bg-color: blue;

//Button
$btn-padding-x: 1rem;
$btn-font-size: 1rem;
$btn-font-weight: 400;
// $btn-border-radius: 1rem;
