// Base button
.btn {
  display: inline-block;
  margin-top: 2rem;
}

// Home button
.home-btn {
  border: 2px solid $base-black;
  color: $base-black;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 32px 12px 82px;
  position: relative;
  text-decoration: none;

  .label,
  .icon-arrow {
    backface-visibility: hidden;
    transform: translateZ(0);
    perspective: 1000;
  }

  .label {
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  .icon-arrow {
    fill: $base-black;
    height: 15px;
    top: 17px;
    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
      opacity 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    width: 25px;
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .icon-arrow {
      width: 35px;
    }
  }

  .icon-arrow.before {
    left: 32px;
    margin-right: 15px;
    position: absolute;
    transform-origin: left center;
  }

  .icon-arrow.after {
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: right center;
  }

  &:hover .label {
    transform: translateX(-52px);
  }

  &:hover .icon-arrow.before {
    opacity: 0;
    transform: translateX(-75%) scaleX(0.1);
  }

  &:hover .icon-arrow.after {
    opacity: 1;
    transform: translateX(0) scaleX(1);
  }

  &:active {
    border-color: $base-orange;
    color: $base-orange;
  }

  &:active .icon-arrow {
    fill: $base-orange;
  }
}

// Submit contact button
.submit-btn {
  width: 120px;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  color: $base-white;
  border: 2px solid $base-white;
  transition: background-color 0.3s ease-out;
  background-color: inherit;
}

.submit-btn:active {
  color: $base-orange;
  border-color: $base-orange;
}
