img {
  display: block;
  max-width: 100%;
  height: auto;
}

.home {
  display: flex;
  align-items: center;
  height: 500px;

  .bigger {
    display: block;
    font-size: 3rem;
  }
}

.flex-container {
  display: flex;
  align-items: center;
}

.projects {
  margin-top: 2rem;
  .flex-cont {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .item {
    border-radius: 5px;
  }
}

.technologies {
  margin-top: 2rem;
  .flex-cont {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 5rem;
    height: 5rem;
  }
}

.contact {
  margin-top: 2rem;
}
