.about {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10%;

    .info {
      max-width: $tablet-breakpoint;

      p {
        margin-bottom: 1.25rem;
        line-height: 1.5;
        font-size: 1.25rem;
      }
    }

    .author-photo {
      max-width: 250px;
      overflow: hidden;
    }
  }

  @media screen and (min-width: $tablet-breakpoint) {
    .content {
      flex-direction: row;
      align-items: stretch;
    }
  }
}
