.contact {
  background-color: $base-black;
  color: $base-white;

  .contact-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 3fr 1fr 1fr;
    gap: 10px;
    padding-top: 2%;
    padding-bottom: 3%;

    .form-container {
      grid-area: 1 / 1 / span 3 / span 1;

      .contact-form {
        width: 100%;
        padding: 10px;
        overflow: hidden;

        .form-row {
          margin-bottom: 20px;
          padding: 0 8px;

          .input-data {
            width: 100%;
            height: 45px;
            position: relative;

            input {
              display: block;
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
              color: $base-white;
              background-color: inherit;
              border-bottom: 2px solid $base-white;
            }

            label {
              width: 100%;
              position: absolute;
              pointer-events: none;
              bottom: 12px;
              transition: all 200ms linear;
            }

            .underline {
              position: absolute;
              bottom: 0;
              height: 2px;
              width: 100%;
            }

            .underline::before {
              position: absolute;
              content: "";
              height: 2px;
              width: 100%;
              background: $base-orange;
              transform: scaleX(0);
              transform-origin: center;
              transition: transform 200ms linear;
            }
          }
        }

        .textarea {
          textarea {
            display: block;
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 15px;
            color: $base-white;
            background-color: inherit;
            border-bottom: 2px solid $base-white;
            resize: none;
            padding-top: 10px;
          }
        }

        .submit {
          float: right;
        }

        .input-data input:focus ~ label,
        .input-data input:valid ~ label,
        textarea:focus ~ label,
        textarea:valid ~ label {
          transform: translateY(-25px);
          color: $base-orange;
          font-size: 12px;
        }

        .input-data input:focus ~ .underline:before,
        .input-data input:valid ~ .underline:before,
        .textarea textarea:focus ~ .underline:before,
        .textarea textarea:valid ~ .underline:before {
          transform: scale(1);
        }
      }
    }

    .social {
      grid-area: 1 / 2 / span 1 / span 1;
      // border: 1px solid #fff;

      h3 {
        font-size: 30px;
        margin-bottom: 15px;
        font-weight: bold;
      }

      .link {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;

        i {
          margin-left: 5px;
        }
      }
    }
  }
}
.dark {
  header {
    nav {
      .desktop-nav {
        .nav-link {
          color: $base-white;
        }

        .nav-link:hover:after {
          background-color: $base-white;
        }

        .active::after {
          background-color: $base-white;
        }
      }
    }
  }

  .page-header {
    background-color: $base-black;

    .hd-content {
      .title,
      .caption {
        color: $base-white;
      }
    }
  }
}
