.home {
  display: block;
  position: relative;
  height: 700px;
  background-color: $base-white;

  .home-content {
    position: relative;
    left: 0;
    top: 25%;

    .dev-title {
      font-size: calc(1rem + 10vw);
      margin-bottom: 0.5rem;
      color: $base-black;
      pointer-events: none;
      font-weight: 700;
    }

    .quote {
      font-size: calc(0.5rem + 5vw);
      color: $base-black;
      pointer-events: none;
    }

    @media screen and (min-width: $phone-breakpoint) {
      .dev-title {
        font-size: 5rem;
      }

      .quote {
        font-size: 2rem;
      }
    }

    @media screen and (min-width: $tablet-breakpoint) {
      .dev-title {
        font-size: 6rem;
      }
    }
  }
}
