.home {
  display: block;
  position: relative;
  height: 700px;
  padding: 0 8vw;
  background-color: $base-black;

  .home-content {
    position: relative;
    left: 0;
    top: 40%;

    .dev-title {
      font-size: 70px;
      margin-bottom: 15px;
      letter-spacing: -3px;
      text-transform: uppercase;
      color: $base-white;
      pointer-events: none;
    }

    .quote {
      line-height: 2;
      font-size: 18px;
      color: $base-white;
      pointer-events: none;
    }
  }
}
