.projects {
  .projects-grid {
    // border: 1px solid #ddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 5% 0;
    width: 100%;

    .project {
      border: 1px solid #ddd;
      position: relative;
      overflow: hidden;
      box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
      border-radius: 3px;

      .image {
        width: 100%;
        height: auto;
      }

      .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: $base-white;
        padding: 10px 25px;
        font-size: 16px;
        text-transform: uppercase;
        width: 100%;
        font-weight: 700;
      }
    }
  }

  .technologies {
    padding: 5% 0;

    h2 {
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      margin-bottom: 30px;
    }

    .tech-cont {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;

      .item {
        height: 100px;
        width: 100px;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .small {
        padding: 10px;
      }
    }
  }
}
