@use "../abstracts/" as *;

$card-hover-bg-color: #3e445b;
$card-width: 100%;
$card-height: 100%;
$card-body-p-top: 30px;

.hover-card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: $card-height;
  width: $card-width;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: $card-body-p-top;
    min-height: 100%;
    @include transition(padding 250ms ease-in-out);

    .hover-card__img {
      width: auto;
      height: 80px;
      object-fit: contain;
      filter: grayscale(1);
      @include transition(all 250ms ease-in-out);
    }

    h3 {
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0.5rem 0;
      text-align: center;
    }

    .hover-card__description {
      height: 64px;
      @include scale(0);
      @include transition(transform 250ms ease-in-out);

      .line {
        width: 0;
        height: 1px;
        margin: 0 auto 0.75rem;
        display: block;
        @include transition(width 250ms linear);
      }

      p {
        text-align: center;
        font-size: 0.875em;
        margin-top: 0;
      }
    }
  }

  &:hover {
    // background-color: $card-hover-bg-color;

    .body {
      padding-top: 0;
      cursor: pointer;

      .hover-card__img {
        height: 40px;
        filter: grayscale(0);
      }

      .hover-card__description {
        @include scale(1);

        .line {
          width: 50px;
        }
      }
    }
  }
}
