.mobile-menu {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;

  p {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
  }

  .links {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
