@use "../abstracts/" as *;

$picture-border-radius: 150px;
$picture-bg-color: #efe2e1;

.picture {
  overflow: hidden;
  @include border-radius($radius-sm);

  @include root-has-class("rounded-top-left") {
    border-top-left-radius: $picture-border-radius;
  }
  @include root-has-class("rounded-top-right") {
    border-top-right-radius: $picture-border-radius;
  }
  @include root-has-class("rounded-bottom-right") {
    border-bottom-right-radius: $picture-border-radius;
  }
  @include root-has-class("rounded-bottom-left") {
    border-bottom-left-radius: $picture-border-radius;
  }
}
