@use "../abstracts" as *;

.site-footer {
  padding-top: 20px;
  padding-bottom: 70px;

  .container {
    @include container;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      gap: 2rem;

      @include respond-to("lg") {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
      }

      .author {
        span {
          display: block;
        }
        .name {
          font-weight: 700;
          font-size: 2.5rem;
        }
        .spec {
          font-weight: 500;
          color: $primary-color;
          font-size: 1.5rem;
        }
      }

      .source {
        .copy {
          margin-left: 3px;
          font-weight: 500;
        }
        a {
          font-weight: 500;
          text-decoration: none;
          display: inline-flex;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          @include transition(color 100ms linear);

          &:hover {
            color: $primary-color;
            border-bottom-color: transparent !important;
          }

          i {
            margin-top: -2px;
            font-size: 19px;
            padding-left: 3px;
            padding-right: 3px;
            padding-top: 2px;
          }

          .code {
            padding-left: 0;
            font-size: 18px;
          }
        }
        @include root-has-class("light") {
          a {
            order-bottom-color: $dark;
          }
        }

        @include root-has-class("dark") {
          a {
            border-bottom-color: $light;
          }
        }
      }
    }
  }
}
