@use "../abstracts" as *;

.site-navbar {
  width: 100%;
  height: 80px;
  background-color: inherit;
  position: static;
  // display: none;

  @include respond-to("md") {
    position: fixed;
    top: 0;
    left: 0;
    // the same the height of the element
    translate: 0 -80px;
    @include transition(all 300ms ease);
  }

  /* 
  this class applies to all resolutions but only works from md onwards 
  because that is when the position property changed to fixed.
  */
  @include root-has-class("visible") {
    top: 0;
    translate: 0;
  }

  .container {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .block {
      flex: 1 1;
    }

    .logo-block {
      display: flex;
      justify-content: flex-end;

      @include respond-to("md") {
        justify-content: flex-start;
      }

      .logo {
        width: 100px;
        height: 50px;
        margin: 0;
        display: inline-block;
        border: 1px solid #fff;
        text-align: center;
        box-sizing: border-box;
      }
    }

    .links-block,
    .actions-block {
      display: none;

      @include respond-to("md") {
        display: block;
      }
    }

    .links-block {
      .links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        height: 100%;
        @include transition(all 300ms ease);

        @include respond-to("lg") {
          gap: 3rem;
        }

        @include root-has-class("light") {
          .navbar-link.active {
            border-bottom-color: $dark;
          }
        }

        @include root-has-class("dark") {
          .navbar-link.active {
            border-bottom-color: $light;
          }
        }

        .navbar-link {
          color: inherit;
          line-height: 1;
          display: inline-block;
          text-align: center;
          padding: 10px 4px;
          border-bottom-style: solid;
          border-bottom-width: 2px;
          border-bottom-color: transparent;
          box-sizing: border-box;
          cursor: pointer;
          // @include transition(all 200s ease);
        }

        // .navbar-link:hover {
        //   color: $primary-color;
        // }
      }
    }

    .actions-block {
      .actions {
        justify-content: flex-end;
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
      }
    }
  }
}
