@use "../abstracts" as *;

.site-layout {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;

  @include root-has-class("light-theme") {
    .mobile-menu-container {
      @include theme;
    }
    .content-container {
      @include theme;
    }
  }

  @include root-has-class("dark-theme") {
    .mobile-menu-container {
      @include theme($dark, $light);
    }
    .content-container {
      @include theme($dark, $light);
    }
  }

  .burger-btn-container {
    position: absolute;
    top: 10px;
    left: 16px;
    z-index: 3;
    display: block;

    @include respond-to("md") {
      display: none;
    }
  }

  .mobile-menu-container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include transition(all 0.3s ease-in);
  }

  .content-container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    visibility: visible;
    scroll-behavior: smooth;
    @include transition(all 0.3s ease-in);
  }
}

.site-layout.menu-open {
  .mobile-menu-container {
    .mobile-menu {
      .buttons {
        button {
          margin-left: 0;
          width: 350px;
        }
      }
    }
  }
  .content-container {
    @include opacity(0);
    @include scale(0.85);
    visibility: hidden;
  }
}
