.home {
  padding: 100px 0;

  .home__content {
    .title {
      font-size: 2.75rem;
      text-align: center;
    }

    .text {
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

.fade-animation {
  animation: fade 500ms ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
