.home {
  display: flex;
  align-items: center;
  min-height: 500px;

  .home-text {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .bigger {
    font-size: 3.5rem;
  }

  .home-image {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 200px;
    }
  }
}

.appear-bottom-animation {
  animation: appear-bottom 500ms ease-out;
}

@keyframes appear-bottom {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}
