.home {
  display: flex;
  align-items: center;
  min-height: 500px;

  // .home-text {
  // text-align: right;
  // }

  .bigger {
    display: block;
    font-size: 3rem;
  }

  .home-image {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 200px;
    }
  }
}
