section {
  .heading-row {
    padding-bottom: 2rem;

    .heading-row__title {
      text-align: center;
      font-weight: $heading-font-weight;
      font-size: 2rem;
    }

    .heading-row__subtitle {
      text-align: center;
      font-weight: $heading-font-weight;
      font-size: 1rem;
      color: $gray;
    }
  }
}

a {
  transition: all 200ms linear;

  &:hover {
    text-decoration: none;
  }
}

@import "home";
@import "technologies";
