section {
  .heading-row {
    padding-bottom: 2rem;

    .heading-row__title {
      text-align: center;
      font-size: 2rem;
    }

    .heading-row__subtitle {
      text-align: center;
      font-weight: bold;
      font-size: 1rem;
      color: $gray;
      margin: 0;
    }
  }
}

a {
  transition: all 200ms linear;

  &:hover {
    text-decoration: none;
  }
}

@import "home";
@import "projects";
@import "technologies";
