img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  .section-title {
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
  }
}

a {
  transition: all 200ms ease-out;

  &:hover {
    text-decoration: none;
  }
}

@import "home";
@import "technologies";
