.banner-top {
  background-color: #6d9886;
  color: $light;

  .social-nav {
    .social-link {
      font-size: 1.125rem;
      color: inherit;
    }
    .social-link:not(:first-of-type) {
      margin-left: 0.5rem;
    }
  }
}
