.card {
  .card-img-top {
    transition: all 2s ease-out;
  }

  .card-body {
    .card-text {
      font-size: 0.75rem;
    }

    .card-link {
      font-size: 0.75rem;
      float: right;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
