// Core
@import "base/normalize";
@import "base/reset";
@import "base/typography";

// Helpers
@import "helpers/variables";
@import "helpers/containers";

// Components
@import "components/buttons";

// Layout
@import "layout/header";
@import "layout/footer";

// Pages
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";

body {
  color: $base-black;
  background-color: $base-white;
  font-family: $base-font;
  position: relative;
}

h1 {
  font-size: calc(2.5rem + 3vw);
}

h2 {
  font-size: calc(1.5rem + 3vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  height: 300px;

  .hd-content {
    position: relative;
    left: 0;
    top: 50%;

    .title {
      margin-bottom: 0.75rem;
      font-weight: 700;
    }

    .caption {
      font-size: 1.25rem;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      .title {
        font-size: 4rem;
      }

      .caption {
        font-size: 1.5rem;
      }
    }
  }
}

// Dark theme
.dark-theme {
  color: $base-white;
  background-color: $base-black;

  header {
    nav {
      .desktop-nav {
        .nav-link:hover:after {
          background-color: $base-white;
        }

        .active::after {
          background-color: $base-white;
        }
      }
    }
  }
}
