// Core
@import "base/normalize";
@import "base/reset";
@import "base/typography";

// Helpers
@import "helpers/variables";
@import "helpers/containers";
@import "helpers/mixins";

// Components
@import "components/buttons";

// Layout
@import "layout/header";
@import "layout/footer";

// Pages
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";

body {
  color: $body-font-color;
  background-color: $body-bg-color;
  font-family: $base-font;
  position: relative;
}

h1 {
  font-size: calc(2.5rem + 3vw);
}

h2 {
  font-size: calc(1.5rem + 3vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  height: 300px;

  .hd-content {
    position: relative;
    left: 0;
    top: 50%;

    .title {
      margin-bottom: 0.75rem;
      font-weight: 700;
    }

    .caption {
      font-size: 1.25rem;
    }

    @media screen and (min-width: $tablet-breakpoint) {
      .title {
        font-size: 4rem;
      }

      .caption {
        font-size: 1.5rem;
      }
    }
  }
}

// Dark theme
.dark-theme {
  color: $base-white;
  background-color: $body-font-color;

  .burger-btn {
    border-color: $base-white;

    &::before {
      background: $base-white;
    }

    &::after {
      background: $base-white;
    }
  }

  header {
    nav {
      .desktop-nav {
        .nav-link:hover:after {
          background-color: $base-white;
        }

        .active::after {
          background-color: $base-white;
        }
      }
    }
  }
}

#body-wrapper {
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: visible;
  @include transition(all 0.3s ease-in);
}

.effect-1.navigation {
  .content-wrapper {
    @include opacity(0);
    @include scale(0.85);
    visibility: hidden;
  }
}

.effect-2.navigation {
  .content-wrapper {
    @include scale(0.85);
    margin-left: 260px;
  }
}

.effect-2.navigation {
  .content-wrapper {
    margin-left: 320px;
    @include opacity(0.4);
  }
}
