// Core
@import "base/normalize";
@import "base/reset";
@import "base/typography";

// Helpers
@import "helpers/variables";
@import "helpers/containers";

// Components
@import "components/buttons";

// Layout
@import "layout/header";
@import "layout/footer";

// Pages
@import "pages/home";
@import "pages/projects";
@import "pages/about";
@import "pages/contact";

body {
  color: $base-black;
  background-color: $base-white;
  font-family: $base-font;
  position: relative;
}

h1 {
  font-family: $heading-font-black;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

img {
  max-width: 100%;
  height: auto;
}

.page-header {
  height: 300px;
  background-color: $base-white;

  .hd-content {
    position: relative;
    left: 0;
    top: 50%;

    .title {
      margin-bottom: 10px;
      font-size: 3.75rem;
      letter-spacing: -0.25rem;
      text-transform: uppercase;
      color: $base-black;
      font-family: $heading-font;
    }

    .caption {
      font-size: 1.25rem;
      color: $base-black;
    }
  }
}
